.main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    font-family: "Times New Roman", Times, serif;
    color: #fff;
  }
  .forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .forgot-password-card {
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  .title {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
  }
  .subtitle {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
    color: #ccc;
  }
  .forgot-password-form {
    display: flex;
    flex-direction: column;
  }
  .label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #fff;
  }
  .input-field {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #2a2a2a;
    color: #fff;
  }
  .input-field::placeholder {
    color: #bbb;
  }
  .submit-btn {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .submit-btn:hover {
    background-color: #5f5f5f;
  }  