<div class="main">
    <div class="forgot-password-container">
        <div class="forgot-password-card">
          <h1 class="title">Forgot Password</h1>
          <p class="subtitle">Enter your email address below to reset your password.</p>
          <form class="forgot-password-form" (submit)='forgotPassword(forgotPasswordForm.value)' #forgotPasswordForm="ngForm" >
            <label for="email" class="label">Email Address</label>
            <input ngModel id="email" name="email" #t_email="ngModel" class="input-field" type="email" placeholder="you@example.com" required
                 [class.is-invalid]="t_email.invalid && t_email.touched" [class.is-valid]="t_email.valid"
                 pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                 <p *ngIf="t_email.touched && t_email.invalid" class="text-danger">
                    <small *ngIf="t_email.errors?.['required']" class="text-danger">Email is Required</small>
                    <small *ngIf="t_email.errors?.['email']" class="text-danger">Invalid Email Format</small>
                    <small *ngIf="t_email.errors?.['pattern']" class="text-danger">Invalid Email Format</small>
                </p>
            <button type="submit" [disabled]="forgotPasswordForm.invalid" class="submit-btn">Reset Password</button>
          </form>
        </div>
      </div>
</div>
