header{
    min-height: 4 rem;
    background-color: rgb(128, 130, 130);
    padding: 0;
}

/* footer{
    min-height: 5rem;
    background-color: rgb(19, 19, 19);
    color:white
} */

main{
    min-height: 600px;
    background-color: white;
}

.body{
    min-height: 40rem;
}